@import 'normalize'
@import 'helper'


@font-face
  font-family 'AvenirNextW1GBold'
  src url('../fonts/AvenirNextW1GBold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextW1GBold.otf')  format('opentype'), url('../fonts/AvenirNextW1GBold.woff') format('woff'),url('../fonts/AvenirNextW1GBold.ttf')  format('truetype'),url('../fonts/AvenirNextW1GBold.svg#AvenirNextW1GBold') format('svg')
  font-weight normal
  font-style normal


@font-face
  font-family 'AvenirNextW1GDemi'
  src url('../fonts/AvenirNextW1GDemi.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextW1GDemi.otf')  format('opentype'), url('../fonts/AvenirNextW1GDemi.woff') format('woff'),url('../fonts/AvenirNextW1GDemi.ttf')  format('truetype'),url('../fonts/AvenirNextW1GDemi.svg#AvenirNextW1GDemi') format('svg')
  font-weight normal
  font-style normal


@font-face
  font-family 'AvenirNextW1GMedium'
  src url('../fonts/AvenirNextW1GMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextW1GMedium.otf')  format('opentype'), url('../fonts/AvenirNextW1GMedium.woff') format('woff'), url('../fonts/AvenirNextW1GMedium.ttf')  format('truetype'), url('../fonts/AvenirNextW1GMedium.svg#AvenirNextW1GMedium') format('svg')
  font-weight normal
  font-style normal


@font-face
  font-family: 'AvenirNextW1GRegular'
  src: url('../fonts/AvenirNextW1GRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNextW1GRegular.otf')  format('opentype'), url('../fonts/AvenirNextW1GRegular.woff') format('woff'), url('../fonts/AvenirNextW1GRegular.ttf')  format('truetype'), url('../fonts/AvenirNextW1GRegular.svg#AvenirNextW1GRegular') format('svg')
  font-weight normal
  font-style normal





/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #eee
$black = #222
$white = #f7f7f7

html
button
input
select
textarea 
  color $black

a
a:visited
  color $linkColor
  text-decoration none

a:hover
  color lighten($linkColor,10%)
  
body
  background url('../images/background.png')
  background-size 100%
  color $black
  font-size 1em
  font-family "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif
  line-height 1.5

body.background-dark
  background url('../images/background_dark.png')
header
  background unset
  color $black
  padding 1em
    
.content
  padding 1em


.page-title
  position absolute
  top 0
  left 35%
  color #ffffff
  width 10em
  text-align center

.signup-mark
  img
    width 260px
  margin 0 auto
  width 260px
  padding-top 30px
  padding-bottom 40px

.newmessage-top-link
  width 40px
  margin 0 auto

.sidemenu
  position absolute
  left 0
  top 0
  width 25%
  z-index 1000
  background #ba77ff
  height 100%
  font-family "AvenirNextW1GMedium"
  font-size 21px

  .button-close
    padding 30px
  ul
    list-style-type none
    color #FFFFFF
    li
      padding-top 10px
      a
        color #FFFFFF

.userbox
  position absolute
  right 1em
  top 1em
  color #FFFFFF
  .username
    padding-right 30px

mainButton()
  background #ba77ff
  color #ffffff
  border solid 1px #91599d

.main-menu
  margin 0 auto
  margin-top 70px
  //  margin-top 270px
  width 400px
  background #FFFFFF
  list-style-type none
  padding-left 0
  color #8e8e92
  font-family "AvenirNextW1GMedium"
  font-size 21px
  .error-general
    color red
    text-align center
  li
    height 70px
    background-repeat no-repeat
    background-position 0 center
    background-size 25px
    background-position-x 20px
    border solid 1px #f4f4f4

    .contents
      padding-top 20px
      padding-left 75px
      input
        color #8e8e92
        width 90%
        border none
      input:focus
        outline 0
      input.error
        color red;

  .main-menu__firstname
    background-image url('../images/shape.svg')
  .main-menu__lastname
    background-image url('../images/shape.svg')
  .main-menu__email
    background-image url('../images/email.svg')
  .main-menu__password
    background-image url('../images/password.svg')

  .main-menu__create
    mainButton()
    .contents
      width 4em
      padding-left 0
      padding-top 20px
      margin 0 auto
      text-align center
  .main-menu__signup
    mainButton()
    .contents
      width 11em
      padding-left 0
      padding-top 20px
      margin 0 auto
      text-align center

.bottom-link
  width 7em
  padding-top 160px
  margin 0 auto
  a {
    color #FFFFFF
  }

.main-menu.signup
  margin-top 40px



$editorContainerWidth = 830px
$editorWidth = $editorContainerWidth - 100px
$editorSubmitWidth = 60px

.messages-editor
  width $editorContainerWidth
  margin 0 auto
  background #FFFFFF
  margin-top 30px
  .messages-editor__close
    width 40px
    margin 0 auto
    padding-top 50px

  .messages-editor__textarea
    width $editorWidth
    margin-left 50px
    margin-right 50px
    margin-top 40px
    margin-bottom 10px
    border none


  .messages-editor__counter
    position relative
    left 20px
    bottom -50px
    color #ba77ff

  .messages-editor__submit
    width $editorSubmitWidth
    position relative
    left ($editorContainerWidth - $editorSubmitWidth - 30px)
    bottom 20px

$messagesContainerWidth = 860px
$messagesWidth = $messagesContainerWidth - 120px

.messages
  width $messagesContainerWidth
  margin 0 auto
  padding-top 30px

  .messages__item__close
    float left
    display none
  .messages__item-container:hover .messages__item__close
    display block
  .messages__item
    width $messagesWidth
    color #FFFFFF
    margin 0 auto
    padding-bottom 35px
    .messages__item__time
      background-image url('../images/clock.png')
      background-repeat no-repeat
      background-position-x 0
      background-position-y center
      opacity 0.4
      padding-left 25px
  .more-link
    float left
    padding-left 60px
  .newemessage-bottom-link
    float right
    padding-right 60px